@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  background: url("bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 30px;
}
.clock {
  position: relative;
  padding-right: 15px;
}
.clock .time{
    float: right;
    margin-top: -30px;
}
.clock #clockNum {
  font-weight: 100;
  color: white;
  /*background: white; */
  font-size: 90px;
}
.clock #clockAMPM {
    font-weight: 100;
    color: white;
    /*background: white; */
    font-size: 40px;
}
.clock .date {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.clock h3 {
    font-weight: 200;
    color: white;
    /*background: white; */
    /* font-size: 90px; */
    float: right;
    display: table-cell;
    vertical-align: bottom;
}
.deltasig h1 {
  display: inline;
  font-weight: 100;
  color: white;
  font-size: 90px;
}
.deltasig h2 {
  display: inline;
  font-weight: 200;
  color: white;
  font-size: 50px;
}
.glass {
    border-radius: 7px 7px 0 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 0;
}
.glass .title {
    border-radius: 7px 7px 0 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 8px 0 10px;
}
.glass .description {
    background-color: rgba(213, 213, 213, 0.5);
    border-radius: 0 0 7px 7px;
    padding: 0 10px 0 10px;
}

.glass .description.mid {
  height: 488px;
}
.scrolling {
    font-size: 30px;
}

.noItems {
    font-size: 30px;
    text-align: center;
}

.calendarList {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.calendarDate {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
}

.calendarTime {
  line-height: 50px;
  vertical-align: middle;
  float:right;
  height: 15px;

}

.calendarMonth {
  padding: 8px 0 8px 0;
  margin: 0;
}

.calendarRule {
  border-top: 1px solid #8c8b8b;
  margin: 1px -10px 1px -26px;
}

.calendarEvent {
  vertical-align: middle;
  padding-left: 17px;
  display: inline-block;
  white-space: nowrap;
  font-size: 20px;
  overflow: hidden;
  max-width: 450px;
}
